label {
  width: 100%;
}


.addPostTitle {
  height: 10vh;
}

.addPostBody {
  height: 30vh;

}
.addPostTags {
  height: 10vh;

}
.addPostButtons {
  height: 10vh;

}

.border {
  height: 100%;
  margin-top: 1%;
}

.border input, .border textarea {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px #286090;
}

.commentComponent {
  text-align: left;

}

.subcomments {

}

.hide {
  display: none;
}

.show {
  display: block
}
