/* Global Styles */
.app {
  font-family: 'Roboto', sans-serif;
  background-color: #F6F1ED;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100vh;
}

label {
  width: 100%;
}

hr {
  border-top: 2px solid #30231D;
  width: 100%;
}

.btn-primary {
  color: #F6F1ED;
  background-color: #30231D;
  border-color: #F6F1ED;
}

.btn-primary:hover, .btn-primary:active:hover {
  color: #30231D;
  background-color: #F6F1ED;
}

.btn-primary.focus, .btn-primary:focus {
  color: #30231D;
  background-color: #F6F1ED;
}

.btn-danger {
  color: #F6F1ED;
  background-color: #AF1D13;
  border-color: #F6F1ED;
}

.btn-danger:hover, .btn-danger:active:hover {
  color: #AF1D13;
  background-color: #F6F1ED;
}

.profilePicDisplay {
  width: 20px;
  height: 20px;
}

.highlight {
  color: #337ab7;
}
.noUser {
  display: none;
}

.filteringByTag, .filteringByTag:hover, .filteringByTag:active:hover, .filteringByTag.focus, .filteringByTag:focus {
  color: #F6F1ED;
  background-color: #30231D;
  border-color: #F6F1ED;
}

.filteringByTag .badge {
  background-color: #F6F1ED;
  color: #30231D;
}

/* Not Logged In Home Page */
.homeComponent {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.greeting {
  color:  #F6F1ED;
  font-weight: 800;
  background: linear-gradient( rgba(48, 35, 29, 0.5), rgba(48, 35, 29, 0.5) ), url('https://images.unsplash.com/photo-1437376576540-236661ddb41f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=63a9ff11faa1b85fa838f3df68ebca2e') center center no-repeat;
  background-size: cover;
}

.greetingText {
  padding-top: 20%;
}

.homePageArrow {
  position: absolute;
  bottom: 0;
  width: 10%;
  left: 45%;
}

.homePageArrow img {
  position: relative;
  height: 100%;
  width: 100%;
}


/* Nav Bar */
.navbar{
  background-color: #30231D;
  border: none;
  border-radius: 0px;
}

.navbar-brand>img {
  height: 100%;
  display: inline-block;
}

.navbar-form {
  color: #F6F1ED;
}

.navbar {
  margin-bottom: 0;
}

.logoImage {
  font-family: 'Roboto Slab', serif;
  display: inline;
  vertical-align: middle;
  color: #F6F1ED;
}

.navbar-collapse.in .navbar-form {
  background-color: #30231D;
  color: #F6F1ED;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #F6F1ED;
  text-align: left;
}
.nav>li:hover {
  color: #30231D;
  background-color: #F6F1ED;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* Logged In Home Page */
.loggedInHomeComponent {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #F6F1ED;
}

.sidebar {
  background-color: #B5A397;
  height: 100%;
  padding: 2%;
}

.filterPostsInput {
  margin: 5%;
}

/* Sign Up Form */
.signUpFormComponent {
  background-color: #6A5750;
  height: 100%;
  color: #F6F1ED;
  padding-top: 2%;
}
/* Tag Cloud */
.tagCloud {
  background-color: #6A5750;
  color: #F6F1ED;
  padding: 2%;
}
/* Sign Up Banner */
.signUpBanner {
  background-color: #6A5750;
  color: #F6F1ED;
  padding: 2%;
  transition: all 1s ease
}

.signUpBannerHide {
  display: none;
}

button.close {
  float: none;
}

.toggleSignUpBanner {
  color: #6A5750;
  float: none;
}

/* Post Feed */
.postFeedComponent {

}

/* Post */
.voteArea {
  padding-left: 3%;
}

/* Add Post Component */
.addPostComponent {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #F6F1ED;
}

.addPostTitle {
  height: 10vh;
}

.hideInput {
  display: none;
}

.addPostBody {
  height: 30vh;

}
.addPostTags {
  height: 10vh;

}
.addPostButtons {
  height: 10vh;

}

.border {
  height: 100%;
  margin-top: 1%;
}

.border input, .border textarea {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px #286090;
}

.hideComment {
  display: none;
}

/* View Post Page */
.postArea {
  height: 100%;
  width: 100%;
  overflow: scroll;
  /*background-color: #F6F1ED;*/
}
.viewPostBody {
  /*border: 5px solid #30231D;*/
}


/* Profile Page */
.userProfileComponent {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #F6F1ED;
}
.profileImageWrapper {
  height: 50vh;
}
.profileImage {
  height: 100%;
  width: 90%;
  position: absolute;
}

/* Comment */
.commentComponent {
  /*border-left: 2px dashed blue;
  border-top: 2px dashed blue;*/
}

.commentText {
  width: 100%;
}
